body {
  font-family: Helvetica,Arial,YuGothic,"游ゴシック体","Yu Gothic","游ゴシック","ヒラギノ角ゴ ProN","Hiragino Kaku Gothic ProN","メイリオ",Meiryo,sans-serif;  
  background-image: url('../images/white-paint-texture-2.JPG');
  background-size: cover;
}

.top_title {
  color: black;
}

.nikushoku_title {
  color: red;
}

.soshoku_title {
  color: green;
}
